<main>
  <div class="row">
    <div class="col-md-7 login-message-main">
      <div class="login-content-area">
        <div class="message-caption">
          <div class="message-inner">
            <h1>Welcome back</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="message-image">
              <img src="../../../assets/img/login-illustration.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 login-form-main">
      <button type="button" class="back-btn" (click)="onBack()">Back</button>
      <div class="container ">
        <div class="card">
          <div class="card-body">
            <h1>Forget Password</h1>
            <br>
            <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  name="email" formControlName="email"
                  [ngClass]="{ 'is-invalid': isSubmitted && formControls['email'].errors }">
                <span class="danger" *ngIf="isSubmitted && formControls['email'].errors">
                  This field is required
                </span>
                <span
                  *ngIf="(formControls['email'].touched || formControls['email'].dirty) &&  formControls['email'].invalid"
                  class="danger">
                  <span *ngIf="formControls['email'].errors && formControls['email'].errors['email']">Invalid email
                    format</span>
                </span>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Submit</button>
              <br>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>