<div class="sidebar" data-color="white" data-active-color="danger">
  <div class="logo" routerLink="/workspace">
    <a class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="../assets/img/logo-small.png">
      </div>
    </a>
    <a class="simple-text logo-normal">
      {{userData.first_name}} {{userData.last_name}}
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li routerLinkActive="active" routerLink="/workspace">
        <a>
          <i class="nc-icon nc-bank"></i>
          <p>Workspace</p>
        </a>
      </li>
      <li routerLinkActive="active" routerLink="/manage-project">
        <a>
          <i class="nc-icon nc-diamond"></i>
          <p>Manage Projects</p>
        </a>
      </li>
      <li routerLinkActive="active" routerLink="/create-new-project">
        <a>
          <i class="nc-icon nc-pin-3"></i>
          <p>New Project</p>
        </a>
      </li>
      <li routerLinkActive="active" routerLink="/extract">
        <a>
          <i class="nc-icon nc-bell-55"></i>
          <p>Extract</p>
        </a>
      </li>
      <li routerLinkActive="active" routerLink="/configure">
        <a>
          <i class="nc-icon nc-tile-56"></i>
          <p>Configure</p>
        </a>
      </li>
      <li>
        <a (click)="adminDropDown()" class="toggleSubmenu3">
          <i class="nc-icon nc-single-02"></i>
          <p>Admin</p>
        </a>
        <ul>
          <li routerLinkActive="active" routerLink="/user-management">
            <a>
              <i class="nc-icon nc-badge"></i>
              <p>User Management</p>
            </a>
          </li>
          <li routerLinkActive="active" routerLink="/instanace-management">
            <a>
              <i class="nc-icon nc-settings-gear-65"></i>
              <p>Instance Manangement</p>
            </a>
          </li>
          <li routerLinkActive="active" routerLink="/billing">
            <a>
              <i class="nc-icon nc-money-coins"></i>
              <p>Billing</p>
            </a>
          </li>
          <li routerLinkActive="active" routerLink="/capacity">
            <a>
              <i class="nc-icon nc-compass-05"></i>
              <p> Capacity</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="active-pro">
        <a (click)="logout()">
          <i class="nc-icon nc-button-power"></i>
          <p>Logout</p>
        </a>
      </li>
    </ul>
  </div>
</div>